@font-face {
  font-family: 'Larisch';
  src: url(Fonts/Larisch.otf) format("opentype");
}

@font-face {
  font-family: 'Kosugi Maru';
  src: url(Fonts/KosugiMaru.ttf) format("truetype");
}

@keyframes glow {
  0% {text-shadow: 0vw 0vw 1.56vw #fff1a4;}
  50% {text-shadow: 0vw 0vw 1.25vw #fff1a4;}
  100% {text-shadow: 0vw 0vw 1.56vw #fff1a4;}
}

@media screen and (max-width: 640px){
  div.center, div.content{
    width: 75%;
  }
  div.content-square{
    width: 50%;
  }
  div.name-vector{
    width: 120px;
  }
  nav{
    display: none;
  }
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border: 1px solid #fff1a4;
  box-shadow: inset 0px 0px 5px #fff1a4;
  background-color: #2e2519;
}
::-webkit-scrollbar-thumb{
  box-shadow: 0px 0px 10px #fff1a4;
  background-color: #fff1a4;
}

#current{
  background-color: #fff1a4;
  box-shadow: 0vw 0vw 0.63vw #fff1a4;
  color: #31281f;
  padding: 0.1vw;
}

.name-vector {
  width: 140px;
  position: fixed;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.name-vector:hover{
  width: 148px;
}

.name-text{
  font-family: 'Larisch';
  color: #fff1a4;
  font-size: 32px;
  margin-left: 32px;
  margin-top: 16px;
  text-align: center;
  display: inline-block;
  position: fixed;
  line-height: 0.7;
}

.page-name{
  font-family: 'Larisch';
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  text-align: justify;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.content-square {
  text-align: justify;
  width: 33.5%;
  margin-left: auto;
  margin-right: auto;
}

.spotlight {
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(255,237,184,0.1),rgba(20,15,10,0.85));
  background-attachment: fixed;
  margin: 0;
  padding: 10px;
}

.videoplayer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.twitter-tweet{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: center;
  text-shadow: none;
}

.vertical-image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 67%;
}

.square-image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 67%;
}

.horizontal-image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}

body{
  background-color: #2c261a;
  font-family: 'Kosugi Maru';
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
  margin: 0;
  background-image: url("colored-fog-1920.png");
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  overflow-x: hidden;
  /* animation-name: glow;
  animation-duration: 2s;
  animation-iteration-count: infinite; */
}

small.flank{
  font-size: 23px;
  letter-spacing: 3px;
}

nav{
  margin-left: 68px;
  padding-right: 14px;
  margin-top: 68px;
  position: fixed;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

p{
  font-size: 24px;
}

p.content-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

p.nav-text {
  font-size: 12px;
  margin: 6px;
  width:-webkit-max-content;
}

p.nav-arrow {
  font-size: 0.63vw;
  margin-left: auto;
  margin-right: auto;
  width:-webkit-max-content;
  text-align: center;
}

p.spacer{
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 90px;
  margin-left: auto;
  margin-right: auto;
}

p.year{
  font-size: 14px;
}

p.description{
  font-size: 14px;
  text-align: left;
}

p.caption{
  margin-right: auto;
  text-align: right;
  font-size: 12px;
  /* font-style: italic; */
}

iframe {
  text-align: center;
  /* box-shadow: 5px 5px 16px rgba(0,0,0,0.3); */
}

img.horizontal {
  width: 100%;
  /* border: 1px solid #fff1a4;
  box-shadow: 0vw 0vw 0.21vw #fff1a4;  */
}

img.vertical {
  width: 100%;
}

img.square {
  width: 100%;
}

footer {
  font-family: 'Kosugi Maru';
  font-size: 14px;
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 2%;
}

a:link {
  text-decoration: none;
  color: #ffe080;
  text-shadow: 0vw 0vw 1.56vw #ffe080;
  /* animation-name: link-glow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite; */
}

a:visited {
  text-decoration: none;
  color: #ffe080;
  text-shadow: 0vw 0vw 1.56vw #ffe080;
  /* animation-name: link-glow;
  animation-duration: 0.8s;
  animation-iteration-count: infinite; */
}

a:hover {
  text-decoration: none;
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
  /* animation-name: link-glow;
  animation-duration: 0.4s;
  animation-iteration-count: infinite; */
}

a:active {
  text-decoration: none;
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
}

a.navlink {
  color: #fff1a4;
  text-shadow: 0vw 0vw 0.63vw #fff1a4;
}

a.navlink:hover{
  background-color: #fff1a4;
  box-shadow: 0vw 0vw 0.63vw #fff1a4;
  color: #31281f;
  padding: 0.1vw;
}

a.name-link{
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
}
a.name-link:hover{
  color: #fff1a4;
  text-shadow: 0vw 0vw 1.56vw #fff1a4;
}

a.footer-link{
  text-decoration: none;
  color: #fff1a4;
}

::selection {
  background: #fff7cc;
}
